/* Created by: PJ Lobetti
* Created on: Feb 20222
* This CSS file defines the style for index.html
* ICS20-Unit1-04-HTML-CSS
*/

body {
  background-color: lightsteelblue;
}

h1 {
  background-color: rgb(175,	238,	238);
  color: hsl(0.50,	0.65,	0.81);
  padding: 40px;
  text-align: center;
}

p {
  background-color: #E6E6FA;
}